:root {
    --teal: #1E6487;
    --ltyellow: #FDE599;
    --darkorange: #F66202;
    --ltteal: #91B7BC ;
    --deepnavy: #08183A;
    --navy: #152852;
    --purple: #483D60;
    --coral: #FD5E53;
    --orange: #FC9C54;
    --yellow: #FFE373;
    --deeporange: #fc7f1f;
}

body {
    background-color: var(--ltyellow);
    background-image: url(../images/jorge-vasconez-c4cWawGBFv8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: fit-content;
}

/* header {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center;
    height: 100%;
} */



h1 {
    font-family: 'Ranchers', cursive;
    color: var(--teal);
    padding-top: 10px;
}

p {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 2em;
    font-size: 20px;
    color: var(--navy);
}

div {
    font-family: 'Raleway', sans-serif;
    border-radius: 5%;
    padding: 20px;
    z-index: 1;
    background-color: var(--deeporange);
    /* fill-opacity: 0.5; */
}

#bg-box {
    background-color: var(--deeporange);
    opacity: 0.6;
    
}
/* 
#main-content {
    opacity: 1.0;
} */

h4 {
    color: var(--navy);
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
}

label {
    padding-bottom: 10px;
    margin: 5px;
    font-size: 20px;
    color: var(--ltyellow);
}

i {
    color: var(--yellow);
    font-size: 30px;
}

button i {
    color: var(--ltyellow);
}

input {
    color: var(--navy);
}