:root {
    --teal: #1E6487;
    --ltyellow: #FDE599;
    --darkorange: #F66202;
    --ltteal: #91B7BC ;
    --deepnavy: #08183A;
    --navy: #152852;
    --purple: #483D60;
    --coral: #FD5E53;
    --orange: #FC9C54;
    --yellow: #FFE373;
    --deeporange: #fc7f1f;
}

body {
    background-color: var(--ltyellow);
}

header {
    background-image: url("../images/banner.png");
    background-size: cover;
    background-position: center;
    height: 100%;
}

h1 {
    font-family: 'Ranchers', cursive;
    color: var(--purple);
    padding-top: 10px;
}

p {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 2em;
    font-size: 20px;
    color: var(--navy);
}

div {
    font-family: 'Raleway', sans-serif;

    background-color: var(--deeporange);
    border-radius: 15px;
    padding: 20px;
}

#main-box {
    background: rgba(91, 62, 95, 0.6);

}

h4 {
    color: var(--navy);
    padding-bottom: 20px;
    padding-top: 20px;
}

label {
    padding-bottom: 10px;
    margin: 5px;
    font-size: 20px;
    color: var(--ltyellow);
}

i {
    color: var(--yellow);
    font-size: 30px;
}

button i {
    color: var(--ltyellow);
}

input {
    color: var(--yellow);
}

.modal {
    background-color: var(--orange);
    color: var(--purple);
}